@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->

<html lang="zxx">
<!--
<![endif]-->

<head>
    <!-- TITLE OF SITE -->
    <title>Digital Tech Repair -Phone, Computer Repair Shop HTML Template</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Digital Tech Repair - Phone, Computer Repair Shop  HTML Template" />
    <meta name="keywords" content="Digital Tech Repair, parallax, one page, multipage, responsive, landing, html template" />
    <meta name="author" content="Digital Tech Repair">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Favicons -->
    <link rel="icon" type="image/png" href="~/images/favicon.png">
    <link rel="apple-touch-icon" href="~/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/images/apple-touch-icon-114x114.png">


    <!-- CSS Begins
================================================== -->
    <!--Animate Effect-->
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/hover.css" rel="stylesheet">
    

    <!--Pretty Photo for Image Preview-->
    <link href="~/css/lightbox.css" rel="stylesheet">

    <!--Owl Carousel -->
    <link href="~/css/owl.carousel.css" rel="stylesheet">
    <link href="~/css/owl.transitions.css" rel="stylesheet">

    <!-- nivo slider CSS -->
    <link rel="stylesheet" href="~/css/nivo-slider.css" type="text/css" />
    <link rel="stylesheet" href="~/css/nivo-preview.css" type="text/css" media="screen" />

    <!--BootStrap -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/normalize.css" rel="stylesheet">

    <!-- Main Style -->
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">

    <!--DEFAULT COLOR/ CURRENTLY USING , Replace Your Color-->
    <link rel="stylesheet" href="css/colors/default-color.css">

    <!--Replace Your Color Ends-->
    <!-- Template Demo Color  Examples -->
    <!-- Color 1	
	<link rel="stylesheet" type="text/css" href="css/colors/one.css"/>  
	-->
    <!-- Color 2
	<link rel="stylesheet" type="text/css" href="css/colors/two.css"/> 
	-->
    <!-- Color 3
	<link rel="stylesheet" type="text/css" href="css/colors/three.css"/>
	-->
    <!-- Color 4
	<link rel="stylesheet" type="text/css" href="css/colors/four.css"/>
    -->
    <!-- END Template Color Demo Examples -->

    <!--[if IE]>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>

<body>


   <div class="header_topbar">
        <!-- Logo -->
        <div class="container">
            <div class="row">
                <div class="header_top_left">
                    <ul class="header_socil list-inline pull-left">
                        <li>
                            <a href="#" class="fa fa-facebook"></a>
                        </li>
                        <li>
                            <a href="#" class="fa fa-twitter"></a>
                        </li>
                        <li>
                            <a href="#" class="fa fa-linkedin"></a>
                        </li>
                        <li>
                            <a href="#" class="fa fa-google-plus"></a>
                        </li>
                    </ul>
                </div>
                <div class="header_top_right list-unstyled">
                    <ul>
                        <li><i class="fa fa-envelope"></i>info@anypcproblem.com.au</li>
                        <li><i class="fa fa-phone"></i>0420267746</li>
                        <li><i class="fa fa-envelope"></i>Mon-Sat: 8:00 - 18:00 </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End: Header Info -->


        <!-- Start: header navigation -->
    <div class="navigation">
        <div class="container">
            <div class="row">
                <div class="logo col-xs-8 col-sm-2">
                    <a href="#."><img class="img-responsive" src="~/images/logo.png" alt="">
                    </a>
                </div>
                <div class="col-md-7 col-md-offset-1">
                    <div id="navigation" class="single-page-nav">
                        <ul>
                            <li><a href="#top">Home</a>
                            </li>
                            <li><a href="#about">About</a>
                            </li>
                            <li><a href="#pricing">pricing</a>
                            </li>
                            <li><a href="#blog">blog</a>
                            </li>
                            <li><a href="#work">work</a>
                            </li>
                            <li><a href="#contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="header-right col-sm-2">
                    <ul>
                        <li>
                            <a href="#" class="cart-toggler search_icon"><i class="fa fa-search"></i></a>
                            <div class="search_icon_inr">
                                <form action="#">
                                    <div>
                                        <input value="" placeholder="Search" autocomplete="off" type="text">
                                        <button class="btn-search" type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- End: social-nav -->
            </div>
            <!--/ row -->
        </div>
        <!--/ container -->
    </div>
    <!-- End: header navigation -->


    <!-- Start: Slides  -->
    <div class="slides_wrapper slides_wrapper_v2">
        <div class="slider_home">
            <div class="single_slider slide_bg_3">
                <div class="slider_item_tb">
                    <div class="slider_item_tbcell">
                        <div class="container">
                            <div class="row" id="scene2">
                              
                                <div class="col-md-7 col-xs-12 animated layer" data-depth="0.50">
                                    <h2> We will solve all types of Computer issues, <span class="slide_clr"> AnyPCproblem </span></h2>
                                    <p>We have been on the market for a long time, working for businesses and now working with the public as well. We can fix all problems that you will encounter with your computer. We also can provide solutions for small businesses such as building Websites or running marketing campaigns. </p>
                                    <div class="slider_btn">
                                        <a href="#" class="slider_btn_one">Read more</a>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <div class="slider_form slideInRight">
                                          
                                        <h3>Tell us your problem and give us the price you would pay</h3>
                                        <form method="post">
                                            <input placeholder="Your Name" name="s_name" type="text">
                                            <input placeholder="Email Address" name="s_email" type="email">
                                            <input placeholder="Phone" name="s_phone" type="phone">
                                            <textarea name="s_textarea" id="s_textarea" cols="30" rows="10" placeholder="Tell us your problem "></textarea>
                                            <input value="Get A Quote" type="submit">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
            
        </div>
       



@RenderBody()




    <!-- Start:Footer Section 
==================================================-->

<footer class="footer-section">
    <div class="container">
        <div class="row">
            <!-- Start: About -->
            <div class="col-md-6 col-sm-5 col-xs-12">
                <div class="widget">
                    <div class="footer_logo">
                        <img class="img-responsive" src="~/images/img/footer_logo.png" alt="">
                    </div>
                    <div class="footer_socil">
                        <ul class="list-icons link-list footer_soc">
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-behance"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer_p">
                        <p class="footer_para">Loren ipsum dolor consectetur adipiscing elit sed do eiusmod tempor incididunt know you labore et dolore magna aliqua consectetur adipiscingLoren ipsum dolor consectetur adipiscing elit sed do eiusmod tempor incididunt </p>
                    </div>
                </div>
            </div>
            <!-- End: About -->
            <!-- Start: Latest post -->
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="widget">
                    <h5>Latest post</h5>
                    <ul class="recent-post">
                        <li>
                            <div class="recent-post-date">
                                <strong>17</strong> Jun
                            </div>
                            <h6><a href="#">Loren ipsum dolor consectetur adipiscing elit sed do eiusmod</a></h6>
                        </li>
                        <li>
                            <div class="recent-post-date">
                                <strong>17</strong> Jun
                            </div>
                            <h6><a href="#">Loren ipsum dolor consectetur adipiscing elit sed do eiusmod</a></h6>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End: Latest post -->
            <!-- Start:Tag -->
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="widget">
                    <h5>Tags</h5>
                    <!-- Start Subscribe -->
                    <div class="box-content">
                        <div class="tags">
                            <a href="#a">Tags</a> <a href="#a">Best</a> <a href="#">Free</a> <a href="#a">Popular</a> <a href="#a">Wordpress</a> <a href="#a">Fashion</a> <a href="#">landing</a> <a href="#a">HTML</a> <a href="#a">CSS</a>
                            <a href="#a">Free</a> <a href="#">PHP</a> <a href="#a">Design</a> <a href="#a">Layout</a> <a href="#a">PHP</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End:Tag -->
            <!-- Start:Subfooter -->
            <div class="subfooter">
                <div class="col-xs-6">
                    <p>2016 © Copyright <a href="#">Digital Tech Repair.</a> All rights Reserved.</p>
                </div>
                <div class="col-xs-6">
                    <a class="scrollup" href="#"><span class="fa fa-long-arrow-up"></span></a>
                </div>
            </div>
            <!-- End:Subfooter -->
        </div>
    </div>
</footer>

<!-- End:Footer Section 
========================================-->









<!-- Scripts
========================================-->
<!-- jquery -->
<script src="~/js/jquery-1.12.4.min.js" type="text/javascript" asp-append-version="true"></script>
<!-- Modernizer -->
<script src="~/js/modernizr-2.6.2.min.js" type="text/javascript" asp-append-version="true"></script>
<!-- plugins -->
<script src="~/js/plugins.js" asp-append-version="true"></script>
<!-- Bootstrap -->
<script src="~/js/bootstrap.min.js" asp-append-version="true"></script>
<!-- Use For Animation -->
<script src="~/js/wow.min.js" asp-append-version="true"></script>
<!-- Use For Menu -->
<script src="~/js/menumaker.js" asp-append-version="true"></script>
<!-- Sticky header -->
<script src="~/js/jquery.sticky.js" asp-append-version="true"></script>
<script src="~/js/sticky-header.js" asp-append-version="true"></script>
<!-- Use For carousel -->
<script src="~/js/owl.carousel.min.js" asp-append-version="true"></script>
<!-- Use For Image Peview -->
<script src="~/js/lightbox.min.js" asp-append-version="true"></script>
<!-- Use For mixitup gallery -->
<script src="~/js/jquery.mixitup.min.js" asp-append-version="true"></script>
<!-- Use For nivo slider -->
<script src="~/js/jquery.nivo.slider.js" type="text/javascript" asp-append-version="true"></script>
<script src="~/js/nivo-home.js" type="text/javascript" asp-append-version="true"></script>
<!-- Use For jquery Easing -->
<script src="~/js/jquery.easing.js" asp-append-version="true"></script>
<script src="~/js/jquery.easing.compatibility.js" asp-append-version="true"></script>
<!-- Use For Map -->
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD7CQl6fRhagGok6CzFGOOPne2X1u1spoA"></script>
<!-- Use For Map -->
<script src="~/js/maps.js" asp-append-version="true"></script>
<!-- Counter Up -->

<script src="~/js/waypoints.min.js" asp-append-version="true"></script>
<script src="~/js/jquery.counterup.min.js" asp-append-version="true"></script>

<!-- Use For parallax -->
<script src="~/js/parallax.min.js" asp-append-version="true"></script>

<script>
        // Pretty simple huh
        var scene = document.getElementById('scene');
        var parallax = new Parallax(scene);

        var scene = document.getElementById('scene2');
        var parallax = new Parallax(scene2);
    </script>

<!-- Use For parallax -->
<script src="js/jquery.stellar.min.js"></script>
<!-- Use Single Page Nav -->
<script src="js/jquery.singlePageNav.min.js"></script>
<script type="text/javascript">
        /* =======================================
        			 single Page Nav
        =======================================*/
        // Prevent console.log from generating errors in IE for the purposes of the demo
        if (!window.console) console = {
            log: function() {}
        };

        // The actual plugin
        $('.single-page-nav').singlePageNav({
            offset: $('.single-page-nav').outerHeight(),
            filter: ':not(.external)',
            updateHash: true,
            beforeStart: function() {
                console.log('begin scrolling');
            },
            onComplete: function() {
                console.log('done scrolling');
            }
        });
    </script>


<!-- Custom Scripts
========================================-->
<script src="js/main.js"></script>

</body>


</html>