@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
    
    <!-- Start: Header Section 
==================================================-->
    <div class="header_topbar">
        <!-- Logo -->
        <div class="container">
            <div class="row">
                <div class="header_top_left">
                    <ul class="header_socil list-inline pull-left">
                        <li>
                            <a href="#" class="fa fa-facebook"></a>
                        </li>
                        <li>
                            <a href="#" class="fa fa-twitter"></a>
                        </li>
                        <li>
                            <a href="#" class="fa fa-linkedin"></a>
                        </li>
                        <li>
                            <a href="#" class="fa fa-google-plus"></a>
                        </li>
                    </ul>
                </div>
                <div class="header_top_right list-unstyled">
                    <ul>
                        <li><i class="fa fa-envelope"></i>info@example.com</li>
                        <li><i class="fa fa-phone"></i>+234 567 234 875</li>
                        <li><i class="fa fa-envelope"></i>Mon-Fri: 8:00 - 16:00 </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End: Header Info -->

    <!-- Start: header navigation -->
    <div class="navigation">
        <div class="container">
            <div class="row">
                <div class="logo col-xs-8 col-sm-2">
                    <a href="#."><img class="img-responsive" src="images/logo.png" alt="">
                    </a>
                </div>
                <div class="col-md-7 col-md-offset-1">
                    <div id="navigation">
                        <ul>
                            <li class="active has-sub"><a href="index.html">Home</a>
                                <ul>
                                    <li><a href="index-onepage.html">OnePage</a>
                                    </li>
                                    <li><a href="index-two.html">Home v2</a>
                                    </li>
                                    <li><a href="index-two-onepage.html">OnePage v2</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="about.html">About</a>
                            </li>
                            <li class="has-sub"><a href="#">Pages</a>
                                <ul>
                                    <li><a href="blog.html">Blog Page</a>
                                        <ul>
                                            <li><a href="blog.html">Blog Page</a>
                                            </li>
                                            <li><a href="single-blog.html">Single blog</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="gallery.html">Gallery</a>
                                    </li>
                                    <li><a href="single-gallery.html">Single Gallery</a>
                                    </li>
                                    <li><a href="services.html">Services</a>
                                    </li>
                                    <li><a href="single-services.html">Single Services</a>
                                    </li>
                                    <li><a href="about.html">About Page</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-sub"><a href="blog.html">Blog</a>
                                <ul>
                                    <li><a href="blog.html">Blog Page</a>
                                    </li>
                                    <li><a href="single-blog.html">Single blog</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="contact.html">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="header-right col-sm-2">
                    <ul>
                        <li>
                            <a href="#" class="cart-toggler search_icon"><i class="fa fa-search"></i></a>
                            <div class="search_icon_inr">
                                <form action="#" method="POST">
                                    <div>
                                        <input value="" placeholder="Search" autocomplete="off" type="text">
                                        <button class="btn-search" type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </li>

                    </ul>
                </div>
                <!-- End: social-nav -->
            </div>
            <!--/ row -->
        </div>
        <!--/ container -->
    </div>
    <!-- End: header navigation -->

    <!-- header -->
    <header id="page-top" class="blog-banner">
        <!-- Start: Header Content -->
        <div class="container" id="blog">
            <div class="row blog-header text-center wow fadeInUp" data-wow-delay="0.5s">
                <div class="col-sm-12">
                    <!-- Headline Goes Here -->
                    <h4><a href="index.html"> Home </a> / Service </h4>
                    <h3>Our Service</h3>
                </div>
            </div>
            <!-- End: .row -->
        </div>
        <!-- End: Header Content -->
    </header>
    <!--/. header -->

    <!-- End: Header Section
==================================================-->

    <!-- Start:Our Services Section
==================================================-->
    <div class="single_service">
        <div class="container">
            <div class="row ">
                <div class="col-sm-8">
                    <div class="single_service_left">
                        <img class="sng_service_img" src="images/img/single_service1.jpg" alt="">
                        <img src="images/img/single_service2.jpg" alt="">
                        <h4>Computers Repair</h4>
                        <p>Loren ipsum dolor consectetur adipiscing elit sed do eiusmod tempor incididunt know you labore et dolore magna aliqua consectetur adipiscingLoren ipsum dolor consectetur sed adipiscing elit sed do eiusmod tempor ipsum dolor consectetur adipiscing elit sed do eiusmod tempor incididunt know you labore et dolore magna aliqua consec consectetur elit tapp adipiscingLoren ipsum dolor consectetur adipiscing elit sed do eiusmod tempor ipsum dolor consectetur adipiscing</p>
                        <p>Loren ipsum dolor consectetur adipiscing elit sed do eiusmod tempor incididunt know you labore et dolore magna aliqua consectetur adipiscingLoren ipsum dolor consectetur adipiscing elit sed do eiusmod tempor ipsum dolor consectetur adipiscing elit sed do eiusmod tempor incididunt know you labore et dolore magna aliqua consectetur</p>
                        <p>Loren ipsum dolor consectetur adipiscing elit sed do eiusmod tempor incididunt know you labore et dolore magna aliqua consectetur adipiscingLoren ipsum dolor consectetur adipiscing elit sed do eiusmod tempor ipsum dolor consectetur adipiscing elit sed do eiusmod tempor incididunt know you labore et dolore magna aliqua consectetur</p>
                    </div>
                    <div class="row single_service_left_botom">
                        <div class="col-sm-6">
                            <div class="service_botom_text">
                                <h4>SERVICE FEATURES</h4>
                                <p>Loren ipsum dolor consectetur adipiscing elit sed do eiusmod tempor incididunt know you labore et dolore magna aliqua consectetur adipiscingLoren ipsum dolor consectetur adipiscing elit sed do eiusmod tempor.</p>
                            </div>
                        </div>
                        <!-- End: column -->
                        <div class="col-sm-6">
                            <div class="service_botom_text1">
                                <h4>Support System</h4>
                                <p>Loren ipsum dolor consectetur adipiscing elit sed do eiusmod tempor incididunt know you labore et dolore magna aliqua consectetur adipiscingLoren ipsum dolor consectetur adipiscing elit sed do eiusmod tempor.</p>
                            </div>
                        </div>
                        <!-- End: column -->
                    </div>
                    <!-- End: row -->
                </div>
                <!-- End: column -->
                <div class="col-sm-4">
                    <div class="single_service_right">
                        <div class="single_service_cat">
                            <h4>Categories</h4>
                            <ul>
                                <li><a href="#">Smartphone Repair</a>
                                </li>
                                <li><a href="#">Computer Repair</a>
                                </li>
                                <li class="service_active"><a href="#">laptop Repair</a>
                                </li>
                                <li><a href="#">Desktop Repair</a>
                                </li>
                                <li><a href="#">Digital Repair</a>
                                </li>
                            </ul>
                        </div>
                        <div class="download_brochur">
                            <h4>OUR BROCHURES</h4>
                            <p>Loren ipsum dolor consectetur adipiscing elit sed do eiusmod tempor incididunt know you labore et dolore .</p>
                            <ul class="files">
                                <li><a href="#"><span class="fa fa-file-pdf-o"></span> DOWNLOAD AS PDF</a>
                                </li>
                                <li><a href="#"><span class="fa fa-file-word-o"></span> DOWNLOAD AS DOC</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End: column -->
            </div>
            <!-- End: row -->
        </div>
        <!-- End: container -->
    </div>

    <!-- End: Our Services Section
==================================================-->
