@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_LayoutFooter.cshtml";

}

<!-- Start:Our Services Section
==================================================-->
<div class="single_service">
    <div class="container">
        <div class="row ">
            <div class="col-sm-8">
                <div class="single_service_left">
                    <img class="sng_service_img" src="~/images/img/single_service1.jpg" alt="">
                    <img src="~/images/img/single_service2.jpg" alt="">
                    <h4>Disk Cleanup Services</h4>
                    <p>
                        To ensure that your computer works in its optimal performance and condition,
                        you need to make cleaning up and organizing your disk space as part of your computer’s r
                        egular maintenance tasks. Doing this will help you reclaim an ample amount of disk space and
                        will prevent your RAM from overclocking. Having your disk cleaned regularly may pose several benefits,
                        but there are also some factors for you to consider before you have your disk cleaned.
                    </p>

                    <p>
                        To sum it up, a proper PC Disk Cleanup Services Melbourne will search your computer for old temporary
                        files and installation remnants, log files, your internet history, cookies and cache, error reports, offline
                        content, recycle bin, and other trash on your computer. These unnecessary and garbage files may have been created
                        or even used by your computer and the software installed in it. However, at some point these files would be deemed no
                        longer necessary and can be now safely deleted. If old updates downloaded by your operating system are detected by the
                        disk cleanup service, then they should be also safely deleted as it takes too much amount of space on your hard disk
                        (these old updates can reach up to 10 gigabytes of your space.)
                    </p>

                    <p>
                        Having laptop Disk Cleanup services Taylors Hills done by experts
                        like Any PC Problems will give you several benefits. Aside from speeding
                        up your computer significantly, disk cleanup will also prevent your hard drive
                        from clogging too much. If you have a fully loaded hard disk, it actually slows
                        down your system performance aside from the fact that you can’t put more files in it.
                        Getting rid of junk files can mean more space for your RAM that results in faster system
                        functions, fewer system crashes and a more responsive and fluid system. That’s like getting a
                        free pc speed up service Caroline Springs by just having your PC cleaned up!
                    </p>
                </div>
                <div class="row single_service_left_botom">
                    <div class="col-sm-6">
                        <div class="service_botom_text">
                            <h4>Why do computers go slow</h4>
                            <p>
                                Did you know that your old files can hinder programs from working
                                properly? Old versions of applications usually leave large and several residue
                                files when they are uninstalled or updated to the latest versions.
                            </p>
                        </div>
                    </div>
                    <!-- End: column -->
                    <div class="col-sm-6">
                        <div class="service_botom_text1">
                            <h4>Pc Disk Cleanup Services </h4>
                            <p>
                                If you are unable to do the test by yourself we can do it for you.
                                If you have already tested your laptop and you are sure that is overheating
                                then we can service it and recondition the motherboard by that we will extend
                                the life for the laptop or computer.
                            </p>
                        </div>
                    </div>
                    <!-- End: column -->
                </div>
                <!-- End: row -->
            </div>
            <!-- End: column -->
            <div class="col-sm-4">
                <div class="single_service_right">
                    <div class="single_service_cat">
                        <h4>Categories</h4>
                        <ul>

                            <li class="service_active">
                                <a asp-controller="OurService" asp-action="DiskCleanupServices">Disk Cleanup Services</a>
                            </li>
                            <li>
                                <a asp-controller="OurService" asp-action="HardDriveIssues">Hard Drive Issues</a>
                            </li>
                            <li>
                                <a asp-controller="OurService" asp-action="ITSupport">IT Support</a>
                            </li>
                            <li >
                                <a asp-controller="OurService" asp-action="Keyboard">Keyboard</a>
                            </li>
                            <li >
                                <a asp-controller="OurService" asp-action="ourService">Run tests by yourself</a>
                            </li>
                            <li >
                                <a asp-controller="OurService" asp-action="Overheating">Overheating</a>
                            </li>
                            <li>
                                <a asp-controller="OurService" asp-action="Viruses">Viruses</a>
                            </li>
                        </ul>
                    </div>
                    <div class="download_brochur">
                        <h4>OUR BROCHURES</h4>
                        <p>Loren ipsum dolor consectetur adipiscing elit sed do eiusmod tempor incididunt know you labore et dolore .</p>
                        <ul class="files">
                            <li>
                                <a href="#"><span class="fa fa-file-pdf-o"></span> DOWNLOAD AS PDF</a>
                            </li>
                            <li>
                                <a href="#"><span class="fa fa-file-word-o"></span> DOWNLOAD AS DOC</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End: column -->
        </div>
        <!-- End: row -->
    </div>
    <!-- End: container -->
</div>

<!-- End: Our Services Section
==================================================-->