@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_LayoutFoter.cshtml";

}

<!-- Start:Our Services Section
==================================================-->
<div class="single_service">
    <div class="container">
        <div class="row ">
            <div class="col-sm-8">
                <div class="single_service_left">
                    <img class="sng_service_img" src="~/images/img/single_service1.jpg" alt="">
                    <img src="~/images/img/single_service2.jpg" alt="">
                    <h4>Hard Drive Issues</h4>
                    <p>
                        The files inside your hard drive are way more important than your computer
                        or laptop itself. You can easily buy a new computer, a laptop, or even a new
                        hard drive if they fail to work properly, but the files inside your hard drive
                        are very precious and very irreplaceable. You are lucky if you have backups but what
                        if you don’t have one? Maybe you have placed your photos during your recent trip abroad
                        on your hard drive, or saved music that are expensively purchased. You may also have downloaded
                        a bunch of movies and several seasons of TV shows on your hard drive that takes forever just to finish
                        downloading. Your important documents, reports and presentations might be in that hard drive as well. So, what
                        will you do if your hard drive dies with all of your memories and important things saved into it?
                    </p>
                    <p>
                        If you notice that your hard drive has died or is failing, then the first thing you need to do is to turn off the
                        hard drive, cease using it and prevent it from being used or tampered by others. You should also stay away from data
                        recovery software that will scan and make modifications to the hard drive. This will significantly increase the chances
                        of your hard drive to be fully recovered. Next thing you should do is to wrap your hard drive with an anti-static bag as much as
                        possible to prevent any further damage especially to your hard drive’s PCB component. Then you should immediately send it to the
                        best provider of hard drive recovery services Taylors Hills or hard drive recovery services Burnside.
                    </p>

                    <p>
                        We at Any PC Problem promise to provide hard drive data recovery Caroline Springs or
                        hard drive recovery Melbourne at very affordable prices. We are your best shot in getting
                        your hard drive recovered and we are always ready to recover your important files. Our hard drive
                        recovery experts certainly know what they do, what to do, and how to perform your recovery. They also see to it
                        that they use the latest technologies and procedures and are carried out in a safe and professional way. Delivering
                        hard drive recovery services Taylors Hills, we will do all of our best to recover your files and memories which are in
                        danger of being damaged or corrupted.
                    </p>
                </div>
                <div class="row single_service_left_botom">
                    <div class="col-sm-6">
                        <div class="service_botom_text">
                            <h4>Bad Sectors</h4>
                            <p>
                                One of the most usual issues we encounter from our
                                hundreds of clients is that their hard drives contain bad sectors
                                that cause read errors. There are also hard drives that have damaged PCB,
                                corruption due to incorrect file system or partitions, and the hard drive’s
                                faulty firmware itself. The chances these issues being fixed is very high especially
                                when you have your hard drive data recovery Caroline Springs needs entrusted to Any PC Problem.
                            </p>
                        </div>
                    </div>
                    <!-- End: column -->
                    <div class="col-sm-6">
                        <div class="service_botom_text1">
                            <h4>Very Important to make backups</h4>

                            <p>
                                You will konw all about this is you already have lost tour files. However, it is very important to
                                make backups ofthen so you can save your files.
                                In case you have fallen into the trap and your hard drive is not working then we can deffenerly fix it.
                            </p>
                        </div>
                    </div>
                    <!-- End: column -->
                </div>
                <!-- End: row -->
            </div>
            <!-- End: column -->
            <div class="col-sm-4">
                <div class="single_service_right">
                    <div class="single_service_cat">
                        <h4>Categories</h4>
                        <ul>

                            <li>
                                <a asp-controller="OurService" asp-action="DiskCleanupServices">Disk Cleanup Services</a>
                            </li>
                            <li class="service_active">
                                <a asp-controller="OurService" asp-action="HardDriveIssues">Hard Drive Issues</a>
                            </li>
                            <li >
                                <a asp-controller="OurService" asp-action="ITSupport">IT Support</a>
                            </li>
                            <li >
                                <a asp-controller="OurService" asp-action="Keyboard">Keyboard</a>
                            </li>
                            <li >
                                <a asp-controller="OurService" asp-action="ourService">Our Service</a>
                            </li>
                            <li >
                                <a asp-controller="OurService" asp-action="Overheating">Overheating</a>
                            </li>
                            <li>
                                <a asp-controller="OurService" asp-action="Viruses">Viruses</a>
                            </li>
                        </ul>
                    </div>
                    <div class="download_brochur">
                        <h4>OUR BROCHURES</h4>
                        <p>Loren ipsum dolor consectetur adipiscing elit sed do eiusmod tempor incididunt know you labore et dolore .</p>
                        <ul class="files">
                            <li>
                                <a href="#"><span class="fa fa-file-pdf-o"></span> DOWNLOAD AS PDF</a>
                            </li>
                            <li>
                                <a href="#"><span class="fa fa-file-word-o"></span> DOWNLOAD AS DOC</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End: column -->
        </div>
        <!-- End: row -->
    </div>
    <!-- End: container -->
</div>

<!-- End: Our Services Section
==================================================-->