@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_LayoutFoter.cshtml";

}

<!-- Start:Our Services Section
==================================================-->
<div class="single_service">
    <div class="container">
        <div class="row ">
            <div class="col-sm-8">
                <div class="single_service_left">
                    <img class="sng_service_img" src="~/images/img/single_service1.jpg" alt="">
                    <img src="~/images/img/single_service2.jpg" alt="">
                    <h4>IT Support</h4>
                    <p>
                        It's very frustrating if your computer got broken or needs to be repaired
                        in times when you really need them. For the worse case scenarios and quick
                        computer fixes, choose Any PC Problems as a reliable platform.
                    </p>
                    <p>
                        We are a provider of IT support Caroline Springs and have the best team
                        to solve all your issues of computer repair Caroline Springs. We provide
                        laptop repair Caroline Springs at the most affordable rates. We are very capable
                        of providing technical support and repair of any kind of laptop or computer problems
                        or issues. Our expert computer repair staff is very capable of fixing any brands of
                        laptops, macbooks, computer desktop, imacs, PC and other devices. Convenience and speed
                        is our main concern. You can just bring your laptop or your computer to our stores but you
                        can also talk to us for options on how to bring your computer to us in case your computer is
                        very bulky or heavy to personally bring to our shop.
                    </p>

                    <p>
                        If you need your computer or laptop to be fixed in the soonest time possible,
                        our expert technicians will surely fix your computer or laptop in the shortest
                        possible time without sacrificing the quality of the repair.
                    </p>
                </div>
                <div class="row single_service_left_botom">
                    <div class="col-sm-6">
                        <div class="service_botom_text">
                            <h4>IT Support</h4>
                            <p>
                                Our quality IT Support Taylors Hills is a one of a kind experience.
                                If you are getting trouble with something on your computer, we are very
                                glad to provide you the best IT support Burnside, Melbourne to give you a
                                peace of mind. We can help you with common computer tasks, basic troubleshooting,
                                computer maintenance, and installation of basic computer software such as an office
                                productivity suite, photo and movie editors, some games, antivirus software, internet
                                browsers and many others.
                            </p>
                        </div>
                    </div>
                    <!-- End: column -->
                    <div class="col-sm-6">
                        <div class="service_botom_text1">
                            <h4>Here are the rest of the services we offer</h4>
                            <ul>
                                <li>PC technical support</li>
                                <li>PC troubleshooting</li>
                                <li>PC setup and installation</li>
                                <li>PC training</li>
                                <li>Wired or wireless networking</li>
                                <li>Hardware installation and upgrades</li>
                                <li>Software installation and upgrades</li>
                                <li>Operating system installation and upgrades</li>
                                <li>Antivirus installation</li>
                                <li>Virus/malware removal</li>
                                <li>Motherboard replacement</li>
                                <li>RAM Upgrades</li>

                            </ul>

                        </div>
                    </div>
                    <!-- End: column -->
                </div>


                <!-- End: row -->
            </div>
            <!-- End: column -->
            <div class="col-sm-4">
                <div class="single_service_right">
                    <div class="single_service_cat">
                        <h4>Categories</h4>
                        <ul>

                            <li>
                                <a asp-controller="OurService" asp-action="DiskCleanupServices">Disk Cleanup Services</a>
                            </li>
                            <li>
                                <a asp-controller="OurService" asp-action="HardDriveIssues">Hard Drive Issues</a>
                            </li>
                            <li class="service_active">
                                <a asp-controller="OurService" asp-action="ITSupport">IT Support</a>
                            </li>
                            <li >
                                <a asp-controller="OurService" asp-action="Keyboard">Keyboard</a>
                            </li>
                            <li >
                                <a asp-controller="OurService" asp-action="ourService">Our Service</a>
                            </li>
                            <li >
                                <a asp-controller="OurService" asp-action="Overheating">Overheating</a>
                            </li>
                            <li>
                                <a asp-controller="OurService" asp-action="Viruses">Viruses</a>
                            </li>
                        </ul>
                    </div>
                    <div class="download_brochur">
                        <h4>OUR BROCHURES</h4>
                        <p>Loren ipsum dolor consectetur adipiscing elit sed do eiusmod tempor incididunt know you labore et dolore .</p>
                        <ul class="files">
                            <li>
                                <a href="#"><span class="fa fa-file-pdf-o"></span> DOWNLOAD AS PDF</a>
                            </li>
                            <li>
                                <a href="#"><span class="fa fa-file-word-o"></span> DOWNLOAD AS DOC</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End: column -->
        </div>
        <!-- End: row -->
    </div>
    <!-- End: container -->
</div>

<!-- End: Our Services Section
==================================================-->