@{

    Layout = "~/Views/Shared/_LayoutFoter.cshtml";
    
}

    <!-- Start:Our Services Section
==================================================-->
    <div class="single_service">
        <div class="container">
            <div class="row ">
                <div class="col-sm-8">
                    <div class="single_service_left">
                        <img class="sng_service_img" src="~/images/img/single_service1.jpg" alt="">
                        <img src="~/images/img/single_service2.jpg" alt="">
                        <h4>Computers Repair</h4>
                        <p>If you are experiencing some sticky keys, missing keys, or a keyboard that does not function, then Any PC Problems is the first place you should go for your laptop keyboard repair Melbourne needs.
                            We are able to replace keyboards without being too expensive and our services 
                            are actually much cheaper than branded or other kinds of alternatives.
                            Any PC Problems guarantees you of a quality laptop keyboard repair Melbourne 
                            service that has already served hundreds of happy and satisfied customers.
                            Our keyboard repair services are being performed by 
                            just the most qualified and experienced computer repair professionals 
                            in the whole of Melbourne and can perform any keyboard repair tasks even 
                            if you have a Windows or a mac laptop.</p>
                        <p>We offer a very quick and convenience laptop keyboard replacement service. We see to it that your keyboard is already repaired within 24 hours from when you first had your laptop repaired to us. Don’t worry as our team is very trustworthy and won’t do any harm to your laptop. We only do all the best for your laptop. 
                            Any PC Problems is also the best place for you to go for your laptop screen repair Melbourne needs. You don’t have to worry now if you accidentally stepped or broke your laptop screen or if you forgot to remove a foreign object before closing your laptop’s lid. We are very glad to help you with your
                            problem by bringing a fix to your laptop screen. We have already served
                            and helped hundreds of customers replace their broken laptop screens for 
                            them to continue their digitally driven lives happily.</p>
                        <p>If there’s only a black screen or some colored lines without a crack on your screen, 
                            then a laptop’s display cables might just be damaged or jammed up. In this case, 
                            you don’t have to buy a replacement for it. You just have to bring your faulty 
                            laptop to Any PC Problems to have your laptop screen repair Melbourne done for you.
                            It would just take us a few hours of your time to fix your screen and you’ll be 
                            ready to use it again in no time. You don’t also have to worry about the cost too 
                            as we fix laptop screens at an incredibly affordable price.</p>
                    </div>
                    <div class="row single_service_left_botom">
                        <div class="col-sm-6">
                            <div class="service_botom_text">
                                <h4>Quick and Easy</h4>
                                <p>Laptops are made for you to use it while you are on the go. But what if your laptop does not stay powered on for several hours without plugging it on a socket? Worst is, what if you can’t use your laptop at all if it is not connected to a power socket? If you’re having problems with your laptop battery Any PC Problems is very glad to offer laptop battery replacement Melbourne service. Our laptop battery replacement Melbourne is made from the highest quality battery cells sourced from the best and the leading laptop battery manufacturers. 
                                    They are also designed to be on par with the OEM’s 
                                    specifications for you to have confidence while using it. Having your 
                                    laptop batteries replaced by us will surely bring back your laptop’s 
                                    portability and productivity. </p>
                            </div>
                        </div>
                        <!-- End: column -->
                        <div class="col-sm-6">
                            <div class="service_botom_text1">
                                <h4>Laptop Screen Repair</h4>
                                <p>If you are unable to do the test by yourself we can do it for you. If you have already 
                                    tested your laptop and you are sure that is overheating then we can
                                    service it and recondition the motherboard by that we will extend the life for the laptop or computer.</p>
                            </div>
                        </div>
                        <!-- End: column -->
                    </div>
                    <!-- End: row -->
                </div>
                <!-- End: column -->
                <div class="col-sm-4">
                    <div class="single_service_right">
                        <div class="single_service_cat">
                            <h4>Categories</h4>
                            <ul>
                                <li><a href="#">Smartphone Repair</a>
                                </li>
                                <li><a href="#">Computer Repair</a>
                                </li>
                                <li class="service_active"><a href="#">laptop Repair</a>
                                </li>
                                <li><a href="#">Desktop Repair</a>
                                </li>
                                <li><a href="#">Digital Repair</a>
                                </li>
                            </ul>
                        </div>
                        <div class="download_brochur">
                            <h4>OUR BROCHURES</h4>
                            <p>Loren ipsum dolor consectetur adipiscing elit sed do eiusmod tempor incididunt know you labore et dolore .</p>
                            <ul class="files">
                                <li><a href="#"><span class="fa fa-file-pdf-o"></span> DOWNLOAD AS PDF</a>
                                </li>
                                <li><a href="#"><span class="fa fa-file-word-o"></span> DOWNLOAD AS DOC</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End: column -->
            </div>
            <!-- End: row -->
        </div>
        <!-- End: container -->
    </div>

    <!-- End: Our Services Section
==================================================-->
