@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

    <!-- Start:Our Services Section
==================================================-->
    <div class="single_service">
        <div class="container">
            <div class="row ">
                <div class="col-sm-8">
                    <div class="single_service_left">
                        <img class="sng_service_img" src="images/img/single_service1.jpg" alt="">
                        <img src="images/img/single_service2.jpg" alt="">
                        <h4>Computers Repair</h4>
                        <p>Loren ipsum dolor consectetur adipiscing elit sed do eiusmod tempor incididunt know you labore et dolore magna aliqua consectetur adipiscingLoren ipsum dolor consectetur sed adipiscing elit sed do eiusmod tempor ipsum dolor consectetur adipiscing elit sed do eiusmod tempor incididunt know you labore et dolore magna aliqua consec consectetur elit tapp adipiscingLoren ipsum dolor consectetur adipiscing elit sed do eiusmod tempor ipsum dolor consectetur adipiscing</p>
                        <p>Loren ipsum dolor consectetur adipiscing elit sed do eiusmod tempor incididunt know you labore et dolore magna aliqua consectetur adipiscingLoren ipsum dolor consectetur adipiscing elit sed do eiusmod tempor ipsum dolor consectetur adipiscing elit sed do eiusmod tempor incididunt know you labore et dolore magna aliqua consectetur</p>
                        <p>Loren ipsum dolor consectetur adipiscing elit sed do eiusmod tempor incididunt know you labore et dolore magna aliqua consectetur adipiscingLoren ipsum dolor consectetur adipiscing elit sed do eiusmod tempor ipsum dolor consectetur adipiscing elit sed do eiusmod tempor incididunt know you labore et dolore magna aliqua consectetur</p>
                    </div>
                    <div class="row single_service_left_botom">
                        <div class="col-sm-6">
                            <div class="service_botom_text">
                                <h4>SERVICE FEATURES</h4>
                                <p>Loren ipsum dolor consectetur adipiscing elit sed do eiusmod tempor incididunt know you labore et dolore magna aliqua consectetur adipiscingLoren ipsum dolor consectetur adipiscing elit sed do eiusmod tempor.</p>
                            </div>
                        </div>
                        <!-- End: column -->
                        <div class="col-sm-6">
                            <div class="service_botom_text1">
                                <h4>Support System</h4>
                                <p>Loren ipsum dolor consectetur adipiscing elit sed do eiusmod tempor incididunt know you labore et dolore magna aliqua consectetur adipiscingLoren ipsum dolor consectetur adipiscing elit sed do eiusmod tempor.</p>
                            </div>
                        </div>
                        <!-- End: column -->
                    </div>
                    <!-- End: row -->
                </div>
                <!-- End: column -->
                <div class="col-sm-4">
                    <div class="single_service_right">
                        <div class="single_service_cat">
                            <h4>Categories</h4>
                            <ul>
                                <li><a href="#">Smartphone Repair</a>
                                </li>
                                <li><a href="#">Computer Repair</a>
                                </li>
                                <li class="service_active"><a href="#">laptop Repair</a>
                                </li>
                                <li><a href="#">Desktop Repair</a>
                                </li>
                                <li><a href="#">Digital Repair</a>
                                </li>
                            </ul>
                        </div>
                        <div class="download_brochur">
                            <h4>OUR BROCHURES</h4>
                            <p>Loren ipsum dolor consectetur adipiscing elit sed do eiusmod tempor incididunt know you labore et dolore .</p>
                            <ul class="files">
                                <li><a href="#"><span class="fa fa-file-pdf-o"></span> DOWNLOAD AS PDF</a>
                                </li>
                                <li><a href="#"><span class="fa fa-file-word-o"></span> DOWNLOAD AS DOC</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End: column -->
            </div>
            <!-- End: row -->
        </div>
        <!-- End: container -->
    </div>

    <!-- End: Our Services Section
==================================================-->
