@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{

    Layout = "~/Views/Shared/_LayoutFoter.cshtml";
    
}

    <!-- Start:Our Services Section
==================================================-->
    <div class="single_service">
        <div class="container">
            <div class="row ">
                <div class="col-sm-8">
                    <div class="single_service_left">
                        <img class="sng_service_img" src="~/images/img/single_service1.jpg" alt="">
                        <img src="~/images/img/single_service2.jpg" alt="">
 <h4>Overheating</h4>
                        <p>As the law of thermodynamics say, “everything that consumes energy gives off heat.” Well, every kind of electronics and gadgets are not exempted with that law. Obviously, all kinds of electronics produce heat. Is there an instance wherein your laptop has gone extremely hot while you are using it? And the most surprising thing is, you only do casual tasks on it and you don’t do anything extreme on it like playing high end games or editing some photos or videos. Well, this kind of phenomenon isn’t a surprising thing for laptops and other kinds of gadgets as there are a lot of electronic components, big or small, that are compactly stored on its very mobile and compressed chassis. They could even heat up more if you do extreme things on it as it needs more power and energy for it to perform properly.</p>
                        <p>But as we all know, a lot of laptops have already 1 to 2 fans attached inside of it to exhaust the heat out of your laptop and keep it cooled down. The heat is being exhausted to the under or the side of your laptop so the exhausted heat’s direction should not be blocked or obstructed while you use the laptop. You can also purchase an affordable laptop cooling pad to help cool your laptop down. However, if you still observe that your laptop is still heating too much even when you are doing all the precautions, then it may be time to bring your laptop to the best PC service shop that offers laptop overheating solutions Melbourne or pc overheating solutions Melbourne. 
If you also experience the following aside from overheating, then it would be the best for your laptop to undergo laptop overheating repair solutions.
</p>
                        <p>These could be the side effects your laptop could be experiencing when it overheats. To conclude, heat itself causes all of these issues to happen to your laptop. Laptops do have an anti-overheating feature as one of its safety features, and it turns off itself automatically when your laptop reaches a certain amount of temperature it considers itself as overheated, so that it may reduce the risk of adding more heat and producing more damage to your laptop’s internal electronic components.</p>
                    </div>
                    <div class="row single_service_left_botom">
                        <div class="col-sm-6">
                            <div class="service_botom_text">
                                <h4>Run some test by yourself</h4>
                                <p>You can download speed fan applicaiton and test if your processor is and motherboard is constantly running in the range between 65 degres and higher. <a href="http://www.almico.com/speedfan452.exe">Donload the SpeedFan</a></p>
                            </div>
                        </div>
                        <!-- End: column -->
                        <div class="col-sm-6">
                            <div class="service_botom_text1">
                                <h4>We can do it for you and service your laptop</h4>
                                <p>If you are unable to do the test by yourself we can do it for you. If you have already tested your laptop and you are sure that is overheating then we can service it and recondition the motherboard by that we will extend the life for the laptop or computer.</p>
                            </div>
                        </div>
                        <!-- End: column -->
                    </div>
                    <!-- End: row -->
                </div>
                <!-- End: column -->
                <div class="col-sm-4">
                    <div class="single_service_right">
                        <div class="single_service_cat">
                            <h4>Categories</h4>
                              <ul>
                                                            <li><a asp-controller="OurService" asp-action="DiskCleanupServices">Disk Cleanup Services</a>
                                                            </li>
                                                            <li><a asp-controller="OurService" asp-action="HardDriveIssues">Hard Drive Issues</a>
                                                            </li>
                                                            <li><a asp-controller="OurService" asp-action="ITSupport">IT Support</a>
                                                            </li>
                                                             <li><a asp-controller="OurService" asp-action="Keyboard">Keyboard</a></li>
                                                            <li><a asp-controller="OurService" asp-action="ourService">Our Service</a>
                                                            </li>
                                                            <li class="service_active"><a asp-controller="OurService" asp-action="Overheating">Overheating</a>
                                                            </li>
                                                            <li><a asp-controller="OurService" asp-action="Viruses">Viruses</a></li>
                                                        </ul>
                        </div>
                        <div class="download_brochur">
                            <h4>OUR BROCHURES</h4>
                            <p>Loren ipsum dolor consectetur adipiscing elit sed do eiusmod tempor incididunt know you labore et dolore .</p>
                            <ul class="files">
                                <li><a href="#"><span class="fa fa-file-pdf-o"></span> DOWNLOAD AS PDF</a>
                                </li>
                                <li><a href="#"><span class="fa fa-file-word-o"></span> DOWNLOAD AS DOC</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End: column -->
            </div>
            <!-- End: row -->
        </div>
        <!-- End: container -->
    </div>

    <!-- End: Our Services Section
==================================================-->
