@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/_LayoutFooter.cshtml";

}

<!-- Start:Our Services Section
==================================================-->
<div class="single_service">
    <div class="container">
        <div class="row ">
            <div class="col-sm-8">
                <div class="single_service_left">
                    <img class="sng_service_img" src="~/images/img/single_service1.jpg" alt="">
                    <img src="~/images/img/single_service2.jpg" alt="">
                    <h4>Viruses</h4>
                    <p>
                        Do you think your computer has been infected with a very dreaded computer virus? Have
                        you observed that your computer’s performance bugged down significantly? Are you experiencing
                        lags more frequently? Do you want someone to have it removed for you? Corrupt software or full
                        disk place might not be the number one culprit of that troublesome computer experience. Neither is having
                        faulty hardware and peripherals that is connected to your computer system. But it is having your computer
                        infected by a computer virus that makes it unresponsive and unproductive.
                    </p>
                    <p>
                        If you are looking for the best
                        virus removal service Melbourne or virus removal Caroline Springs service, then Any PC Problem will be your computer’s hero.
                        Sometimes, it is not enough to have the best antivirus software installed on your computer. A lot
                        of malware, trojan horses, spyware and ransomwares need to be manually removed by a computer expert
                        for your computer to be completely relieved of the virus.
                        If your computer experiences one or more of the following, then it may be the time to send your
                        computer to a computer malware removal Melbourne service provider.
                    </p>

                    <p>
                        We at Any PC Problem offer Spyware Removal Service Burnside and promise to make
                        you get rid of all viruses that reside on your computer. Our virus removal service
                        Melbourne experts are very well engaged in removing any kinds of virus or malware.
                        The virus removal Caroline Springs service can be done remotely by connecting to your
                        computer via your internet connection and your computer will get rid of all viruses,
                        spyware, and other threats that has a very adverse effect on your computer’s performance.
                        When their computer malware removal Melbourne service is successful and effective to your
                        computer, our experts will also install a very trusted and strong kind of antivirus software
                        so that you can safeguard your computer from today’s threats and the threats that may arise in the future.
                        Any PC Problems only hires the best and the most qualified spyware removal service
                        Burnside experts that are highly regarded for their expertise in removing certain viruses
                        and protect your pc from threats using processes and procedures that are deemed effective.
                    </p>
                </div>
                <div class="row single_service_left_botom">
                    <div class="col-sm-6">
                        <div class="service_botom_text">
                            <h4>Run some test by yourself</h4>
                            <p>
                                Their virus removal experts have already helped a lot of customers from all walks of life and even serviced several companies with both simple and complex computer systems.
                                Aside from getting rid of viruses and spyware off your computer, we at Any PC Problems also offer other computer services that may help you bring back your computer’s former glory and performance. We also offer speeding up services such as reformat, defragmentation, bloatware removal, and system upgrades. If you are in Melbourne or Caroline Springs area, give Any PC Problems a call now and say goodbye to all of your computer virus with our help.
                            </p>
                        </div>
                    </div>
                    <!-- End: column -->
                    <div class="col-sm-6">
                        <div class="service_botom_text1">
                            <h4>We can do it for you and service your laptop</h4>
                            <p>
                                If you are unable to do the test by yourself we can do it for you.
                                If you have already tested your laptop and you are sure that is overheating
                                then we can service it and recondition the motherboard by that we will extend
                                the life for the laptop or computer.
                            </p>
                        </div>
                    </div>
                    <!-- End: column -->
                </div>
                <!-- End: row -->
            </div>
            <!-- End: column -->
            <div class="col-sm-4">
                <div class="single_service_right">
                    <div class="single_service_cat">
                        <h4>Categories</h4>
                        <ul>
                            <li>
                                <a asp-controller="OurService" asp-action="DiskCleanupServices">Disk Cleanup Services</a>
                            </li>
                            <li>
                                <a asp-controller="OurService" asp-action="HardDriveIssues">Hard Drive Issues</a>
                            </li>
                            <li>
                                <a asp-controller="OurService" asp-action="ITSupport">IT Support</a>
                            </li>
                            <li>
                                <a asp-controller="OurService" asp-action="Keyboard">Keyboard</a>
                            </li>
                            <li>
                                <a asp-controller="OurService" asp-action="ourService">Run tests by yourself</a>
                            </li>
                            <li>
                                <a asp-controller="OurService" asp-action="Overheating">Overheating</a>
                            </li>
                            <li class="service_active">
                                <a asp-controller="OurService" asp-action="Viruses">Viruses</a>
                            </li>
                        </ul>
                    </div>
                    <div class="download_brochur">
                        <h4>OUR BROCHURES</h4>
                        <p>Loren ipsum dolor consectetur adipiscing elit sed do eiusmod tempor incididunt know you labore et dolore .</p>
                        <ul class="files">
                            <li>
                                <a href="#"><span class="fa fa-file-pdf-o"></span> DOWNLOAD AS PDF</a>
                            </li>
                            <li>
                                <a href="#"><span class="fa fa-file-word-o"></span> DOWNLOAD AS DOC</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End: column -->
        </div>
        <!-- End: row -->
    </div>
    <!-- End: container -->
</div>

<!-- End: Our Services Section
==================================================-->